<!-- Select -->
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Framework</mat-label>
    <mat-select placeholder="Framework" name="item" [(value)]="selectedValue">
      <mat-option>None</mat-option>
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-select>
  </mat-form-field>
  {{selectedValue}}
</div>

<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>FE Technologies</mat-label>
    <mat-select placeholder="FE Technologies" name="item" multiple [(value)]="selectedFEValue">
      <mat-optgroup label="Web">
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Mobile">
        <mat-option value="ionic">Ionic</mat-option>
        <mat-option value="reactnative">React Native</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  {{selectedFEValue}}
</div>
