button {
  margin: 0 2em;
}

.container {
  padding: 3em;
}

.navbar {
  justify-content: space-between;

  span {
    padding-right: 1rem;
  }
}

.main-app {

  mat-sidenav, mat-sidenav-content {
    padding: 4em;
  }

  mat-sidenav {
    background-color: lightgray;
    height: 200px;
  }

  mat-sidenav-container {
    height: 100%;
  }
}

mat-grid-tile {
  background-color: lightblue;
}
