<!-- checkbox e radiobutton -->
<div class="container">
  <mat-checkbox>Subscribe</mat-checkbox><br>
  <mat-checkbox labelPosition="before">Subscribe</mat-checkbox><br>
  <mat-checkbox color="primary">Subscribe</mat-checkbox><br>
  <mat-checkbox color="warn">Subscribe</mat-checkbox>
</div>

<div class="contaner">
  <mat-radio-group name="favoriteTech">
    <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
    <mat-radio-button value="react">React</mat-radio-button>
    <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
  </mat-radio-group>
</div>
